* {
  box-sizing: border-box;
}

body {
  font-family: "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  background-color:rgb(251, 253, 253);
}

/* *********************************
headerの設定
*********************************** */
header {
  height: 120px;
  width: 100%;
  background: linear-gradient(0deg, #8b4513 0%, #8b4513 25%, white 25%, white 100%);
  top: 0;
  display: flex;
  flex-direction: column;
}

.up_header {
  display: flex;
  height: 0px;
}

.down_header {
  display: flex;
  justify-content: center
}

.logo {
  left: 30px;
  margin-right: auto;
}
.greeting {
  color: #020000;
  right: 30px;
  text-decoration: none;
  line-height: normal;
  padding: 0 20px;
}

.member_register {
  right: 200px;
  box-sizing: border-box;
  width: 200x;
  height: 90px;
  background-color:#fff;
  color: #0b0000;
  padding:.7em;
  border-right: 3px solid #8b4513;
  border-left: 3px solid #8b4513;
  text-align: center;
	}

  .member_register a {
    color: #000003;
    font-size: 21px;
    font-weight: 800;
    display: block;
    line-height: normal;
    padding: 0 20px;
  }

  .member_login {
    right: 400px;
    box-sizing: border-box;
    width: 200x;
    height: 90px;
    background-color:#fff;
    color: #0b0000;
    padding:.7em;
    border-right: 3px solid #8b4513;
    border-left: 3px solid #8b4513;
    text-align: center;
    }

    .member_login a {
      color: #000003;
      font-size: 21px;
      font-weight: 800;
      display: block;
      line-height: normal;
      padding: 0 20px;
    }

    .Home a {
      color: white;
      font-size: 21px;
      font-weight: 800;
      line-height: normal;
      padding: 90px 100px;
    }

    .Head_register a {
      color: white;
      font-size: 21px;
      font-weight: 800;
      line-height: normal;
      padding: 90px 100px;
    }

    .Head_recommend a {
      color: white;
      font-size: 21px;
      font-weight: 800;
      line-height: normal;
      padding: 90px 100px;
    }

a {
  color: white;
  text-decoration: none;
  display: block;
  line-height: 60px;
  padding: 0 20px;
}

/* *********************************　
mainの設定
*********************************** */
main {
  padding: 60px;
  text-align: center;
  width: 100%;
  margin: auto;
  top: 0;
}

.content {
	box-sizing: border-box;
	width:50%;
  background-color:#fff;
	color: #666;
	padding:.7em;
	margin: 5px auto;
	border: 3px solid #8b4513;
	border-radius: 15px;
	}

.content p { /* p要素に背景や角丸を指定 */
	margin:5px 0 0;
	padding:10px;
  color: white;
	background-color: #8b4513;
	border-radius:8px;
	font-size:15px;
	}

.content h1 {
  font-size: 20px;
  color: black;/* 文字色 */
  padding: 0.5em 0;/* 上下の余白 */
  border-top: solid 3px white;/* 上線 */
  border-bottom: solid 3px white;/* 下線 */
}

.content span { /* span要素（質問テキスト）をブロック化し横に並べる */
	width: 48%;
	padding: 5px;
	display: inline-block;
	vertical-align: top;
}

/* 「click」ボタンのスタイル */
.click_btn a {
  text-align: center;
  margin: 20px auto;
  padding: 1px;
  width: 150px;
  font-size: 18px;
  background-color: #8b4513;
  border-radius: 50vh;
}

.click_btn a:hover {
  background-color: #8b4513;
}

/* 「計算する」ボタンのスタイル */
.calc_btn [type="submit"]{
	cursor:pointer;
  text-align: center;
	font-size: 18px;
	font-weight:bold;
	width:100px;
	padding:4px 10px;
	margin:.5em;
	color:#fff;
  border:1px solid #bbb;
  background: #8b4513;
	border-radius: 5px;
}

.calc_btn [type="submit"]:hover {
	background: #8b4513;
	}



/* 面積結果部分 */
.box{
  margin:40px auto;
  position: relative;
  padding: 0.5em 1.0em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  background-color:#fff;
  width:40%;
  border: solid;
}

.result{
  font-weight: bold;
  color: rgb(246, 123, 123);
  font-size:24px;
}

 /* 「「削除する」ボタンのスタイル */
.recommend_btn [type="submit"]{
	cursor:pointer;
  text-align: center;
	font-size: 18px;
	font-weight:bold;
	padding:4px 10px;
	margin:.5em;
	color:#fff;
  border:1px solid #bbb;
  background: #8b4513;
	border-radius: 5px;
}

.recommend_btn [type="delete"]:hover {
	background: #985267;
	} 

/* *********************************　
footerの設定
*********************************** */
footer {
  width: 100%; /* 幅いっぱいを指定 */
  height: 50px; /* 高さを指定 */
  display: inline-block;
  background: #8b4513; /* 背景色を指定 */
  text-align: center;
  position: fixed;
  bottom: 0;
}

.footer_logo {
  line-height: 50px;
}